<header>
  <nav class="flex content-center items-center justify-between w-full p-4">
    <ul class="flex flex-row list-none">
      <li><%= link_to "Home", home_path %></li>
    </ul>
    <div>
      <ul class="flex flex-row list-none gap-2">
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <% if logged_in? %>
          <li><%= button_to "Log out", logout_url, method: :delete %></li>
          <li><%= link_to @current_user.username, user_path(current_user) %></li>
        <% else %>
          <li><%= link_to "Sign In", login_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
