<!DOCTYPE html>
<html class="h-full bg-white">
  <head>
    <title>ToyAppV2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="h-full">
    <%= render "layouts/header" %>
    <main class="container mx-auto px-4">
      <% flash.each do |message_type, message| %>
        <div class="<%= message_type == 'danger' ? 'bg-red-400' : message_type ==  'success' ? 'bg-green-500' : 'bg-emerald-300' %> text-center w-full">
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
